[profile.default]
src = 'contracts'
out = 'forge-artifacts'
libs = ['node_modules', 'lib']
test = 'test'
cache_path  = 'forge-cache'
allow_paths = ['../', '../../node_modules/']
ffi = true
fs_permissions = [
    { access = "read", path = "./artifacts/" },
    { access = "read-write", path = "./.forge-snapshots/"},
]
remappings = [
    'forge-std/=node_modules/forge-std/src/',
    '@openzeppelin/=node_modules/@openzeppelin/',
    'permit2/=node_modules/permit2/',
    '@balancer-deployments/=lib/balancer-deployments/v3/'
]
optimizer = true
optimizer_runs = 999
solc_version = '0.8.26'
auto_detect_solc = false
evm_version = 'cancun'
ignored_error_codes = [2394, 5574, 3860] # Transient storage, code size

[fuzz]
runs = 1000
max_test_rejects = 60000

[rpc_endpoints]
  mainnet = "${MAINNET_RPC_URL}"
  gnosis = "${GNOSIS_RPC_URL}"
  sepolia = "${SEPOLIA_RPC_URL}"
  sonic = "${SONIC_RPC_URL}"
  base = "${BASE_RPC_URL}"
  arbitrum = "${ARBITRUM_RPC_URL}"